# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo

# Ignore logs
logs/
*.log

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Docker artifacts
*.pid
*.sock

sai/configs/binance.yaml
