# Core
streamlit>=1.32
pandas>=2.2
numpy>=1.26

# Plotting
matplotlib>=3.8
seaborn>=0.13

# Binance API
python-binance>=1.0.19

# Config & Logging
PyYAML>=6.0

# ML / Models
scikit-learn>=1.4

# Misc
requests>=2.31
